<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #e3f2fd;
}
</style>
</head>
<body>

<div class="footer">
  <p> You can find the source code for Bayes' Baes on GitHub:
[bayesbaes](https://github.com/bayesbaes/bayesbaes.github.io)

Or you can find the Baes on Github and at their personal sites:

[Helen's Github](https://github.com/helenfyan) /
[Helen's Personal Site](https://helenfyan.weebly.com) /
[Hannah's Github](https://github.com/hannahvwatkins) /
[Hannah's Personal Site](https://hannahvwatkins.weebly.com)
    </p>
</div>

</body>
</html> 
