
.post-style {
  font-size: 16px                 !important;
  line-height: 1.5                !important;
  font-family: "Helvetica Neue"   !important;
  color: blue                    !important;
}
