a {
  color: #8411DA;
}

.package-style {
  font-family: 'Courier New', monospace;
  background-color: #F5F5F5;
  font-weight: bold;
}

.author-row {
  max-height:400px;
  overflow:hidden;
}

.bg {
  /* The image used */
  background-image: url("assets/images/IMG_0455.JPG");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
