<style>
html, body {
  min-height: 100vh;
}

body {
  background: #ffffff;
  display: flex;
  flex-flow: column;
}

footer {
  position: absolute;
  margin-top: auto;
  padding: 20px 10px;
  bottom: 0;
} 

</style>
