<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
       <a class="navbar-brand" href="/">
          <img src="/assets/images/Bayes_Baes_transparent_small.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          The Bayes' Baes Blog
       </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/people/">Who are we?</a></li>
              <li><a class="dropdown-item" href="/the-project/">What is the project about?</a></li>
              <li><a class="dropdown-item" href="/how-to/">How to use the site</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tutorials
           </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/tutorials/browse-all/">Browse All</a></li>
              <li><a class="dropdown-item" href="/tutorials/browse-by-tag/">Browse By Tag</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resources/">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search/">Search</a>
          </li>
        </ul>
      </div>
     </div>
    </nav>

    <section class="container-fluid flex-grow-1 m-0">
      <div class="wrapper m-0">
        {{ content }}
      </div>
    </section>
     
    <footer class="bg-dark text-white mt-0">
    <div class="container-fluid">
      <div class="row justify-content-center mt-3 mb-0 pb-0">
                <p class="text-center" style="font-size: 0.9rem;">
                Bayes' Baes was created for and by biologists, not expert statisticians, so we could use all the help we can get! If you spot an error in any of our tutorials or are interested in helping us develop content, please get in touch!
                </p>
      </div>
      <div class="container text-center mb-3">
            <div class="container p-0 m-0" style="display: inline;"><a href="https://github.com/bayesbaes/bayesbaes.github.io" class="text-white bg-dark" target="_blank"><span class="bi-github" style="font-size: 1.8rem;"></span></a></div>
            <div class="container p-0 m-0" style="display: inline;"><a href="https://twitter.com/BayesBaes" class="text-white bg-dark" target="_blank"><span class="bi-twitter" style="font-size: 1.8rem;"></span></a></div>
            <div class="container p-0 m-0" style="display: inline;"><a href="mailto:bayesbaes@gmail.com" class="text-white bg-dark" target="_blank"><span class="bi-envelope-fill" style="font-size: 1.8rem;"></span></a></div>
      </div>
    </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>    
</html>
<!--Bb colour scheme: #2F036C #8411DA #C713DC #F60073 #FC9400 #F7B500-->
