---
layout: default
---
<style>
   .navbar {
  margin-bottom: 0px;
  padding-bottom:0px;
}
</style>

<main class="page-content" aria-label="Content">
  <div class = "container-fluid">
    <div class = "row">
      <div class = "col text-black" style="background-color: #e3f2fd;">
        <div class = "affix">
        <h3> Tags </h3>
        {% for tag in page.tags %}  
           <a class="btn btn-primary" href="/tutorials/browse-by-tag/" role="button">{{ tag }}</a>
       {% endfor %}
        <h3> Author </h3>
         {% for author in page.authors %}
           <a class="btn btn-primary" href="/people/" role="button">{{ author }}</a>
         {% endfor %}
         </div>
       </div>
  
     <div class = "col-9">
       <div class="post-content e-content" itemprop="articleBody">
          {{ content }}
        </div>
      </div>
   </div>
 </div> 
  
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</main>
