---
layout: default
---
<main class="page-content" aria-label="Content">
  <div class = "container-fluid m-0 p-0">
    <div class = "row">
      <div class = "col-md-12 col-lg-3 text-black" style="background-color:#F5F5F5">
        <div class="sticky-top p-3" style="overflow-y: auto; height: 100vh;">
        <h3> Author </h3>
         {% for author in page.authors %}
           <a class="btn btn-primary" href="/people/" role="button" style="background-color:#F60073; border-color:#F60073;">{{ author }}</a>
         {% endfor %}
          <br>
        <h3> Tags </h3>
        {% for tag in page.tags %}  
           <a class="btn btn-primary" href="/tutorials/browse-by-tag/" role="button" style="background-color:#FC9400; border-color:#FC9400;">{{ tag }}</a>
       {% endfor %}
          <br>
        <h3>Table of Contents</h3>
        <ul id="toc-list" style="list-style: none; padding-left: 0;"></ul>
       </div>
      </div>
  
     <div class = "col-md-12 col-lg-9">
       <div class="post-content e-content p-3" itemprop="articleBody">
          {{ content }}
        </div>
      </div>
   </div>
 </div>   
  
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  <!-- JavaScript to auto-generate the links for the TOC-->
  <script src="{{ '/js/toc.js' | relative_url }}"></script>
</main>
