---
layout: default
---
<main class="page-content" aria-label="Content">
  <div class = "container-fluid">
    <div class = "row no-gutters">
      <div class = "col text-black p-3">
        <div class="sticky-top">
        <h3> Author </h3>
         {% for author in page.authors %}
           <a class="btn btn-primary" href="/people/" role="button">{{ author }}</a>
         {% endfor %}
        <h3> Tags </h3>
        {% for tag in page.tags %}  
           <a class="btn btn-primary" href="/tutorials/browse-by-tag/" role="button">{{ tag }}</a>
       {% endfor %}
       </div>
      </div>
  
     <div class = "col-9">
       <div class="post-content e-content p-3" itemprop="articleBody">
          {{ content }}
        </div>
      </div>
   </div>
 </div>   
  
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</main>
